<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "comment") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Comment Here:" %>
    <%= f.text_field :body %>
  </div>

  <%= f.hidden_field :image_id, value: @image.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= f.submit "Submit a Comment" %>
  </div>
<% end %>
