<div class="addimage">
  <%= link_to 'New Image', new_image_path %>
</div>
<div class="myart">
  <div class="myuploads">
      <ul class="thumbnails">
        <% @images.each do |image| %>
          <% if image.user_id == current_user.id %>
          <li><%= image_tag("#{image.name}", :size => "150x150") %>
          <%= link_to 'Show', image %>
          <%= link_to 'Edit', edit_image_path(image) %>
          <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <% else %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>



