<h1>My Images</h1>
<div class="myart">
<% if current_user %>
<table>
  <tbody>
    <% @images.each do |image| %>
      <% if image.user_id == current_user.id %>
      <tr>
        <td><%= image_tag("#{image.name}", :size => "150x150") %></td>
        <td><%= image.latitude %></td>
        <td><%= image.longitude %></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
   <% end %>
  </tbody>
</table>
<% else %>
<% end %>
</div>
<br>

<%= link_to 'New Image', new_image_path %>
