<div class="myuploads">
  <h1>My Uploads</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Image</th>
        <th>Location</th>
        <th>Votes</th>
        <th>Name</th>
      </tr>
    </thead>
  <tbody>
      <% @images.each do |image| %>
       <tr>
        <td><%= link_to image_tag("#{image.name}", :size => "150x150"), image_path(image) %></td>
        <td> <%= image.location %> </td>
        <td> <%= pluralize image.reputation_for(:votes).to_i, "vote" %></td>
        <td> <%= image.name %> </td>

        <% if current_user == @user %>
          <td><%= link_to 'Edit', edit_image_path(image) %>
          <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
