<div class="myuploads">
  <div class="new-container">
   <h2> <%= @user.username %> </h2>
   <h3> Points: <%= @user.reputation_for(:karma).to_i %> </h3>
    <%= link_to 'Upload Image', "#uploadModal", class: "btn-large btn-custom uploader", 'data-toggle' => 'modal' %><br /><br /><br />
    <% if current_user && current_user == @user %>
      <%= link_to 'My Settings', edit_user_registration_path, class: "btn-large btn-custom", id: 'edit' %>
    <% end %>
  <h1>My Uploads</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Image</th>
        <th>Location</th>
        <th>Votes</th>
        <th>Name</th>
      </tr>
    </thead>
  <tbody>
      <% @images.each do |image| %>
       <tr>
        <td><%= link_to image_tag(image.name_url(:profile).to_s), image_path(image) %></td>
        <td> <%= image.location %> </td>
        <td> <%= pluralize image.reputation_for(:votes).to_i, "vote" %></td>
        <td> <%= image.short_name %> </td>

        <% if current_user == @user %>
          <td><%= link_to 'Edit', edit_image_path(image), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
 </div>
</div>
