<ul class="thumb-frame">
  <li class="inside-pic" id="<%= dom_id(image) %>"><%= link_to image_tag("#{image.name}", :size => "250x250"), image_path(image) %>
  <li><%= image.location %></li>
  <li><%= distance_of_time_in_words(image.created_at, Time.now) %> Ago</li>

  <% if current_user && current_user.admin? %>
    <li><%= link_to 'Edit', edit_image_path(image), class: "btn-custom btn-small" %></li>
    <li><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-custom btn-small" %></li>
  <% end %>
</ul>
