<<<<<<< HEAD
<h1>My Images</h1>
<div class="myart">
<% if current_user %>
<table>
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image_tag("#{image.name}", :size => "150x150") %></td>
        <td><%= image.latitude %></td>
        <td><%= image.longitude %></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<% end %>
=======
<div class="images-title pull-left">
  <h1>Newest Uploads</h1>
  <h3> From around the World </h3>
</div>

<div class="upload-button">
  <h3> Or upload your own </h3>
  <%= link_to 'Upload', new_image_path, class: "btn" %>
>>>>>>> index
</div>

<div class="all-images">
  <% @images.each do |image| %>
    <div class="image">
      <%= image_tag("#{image.name}", :size => "150x150") %>
      <%= image.location %>

      <% if current_user && current_user.admin? %>
        <%= link_to 'Edit', edit_image_path(image) %>
        <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% end %>
</div>
