<p>
  <%= image_tag @image.name_url(:thumb).to_s %>
</p>
<%= image_tag "http://maps.googleapis.com/maps/api/streetview?size=400x400&location=#{@image.latitude}%2C#{@image.longitude}&fov=90&heading=235&pitch=10&sensor=false" %>
<p>
  <strong>Location:</strong>
  <%= @image.location %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user_id %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
