<div class="js-clingify-placeholder" style="height: 61px;">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container top-zone">
      <ul class="nav navbar-nav">
        <li><%= image_tag('https://s3-us-west-2.amazonaws.com/assets.taggd/taggdit.jpg', width: 200, width: 90) %></li>
        <li><%= link_to "Home", root_path, class: "menu-item" %></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle = "dropdown">Pictures <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Recent Uploads", images_path %></li>
            <li><%= link_to "Top Sprays", "#" %></li>
            <li><%= link_to "Upload!", new_image_path %></li>
          </ul>
        </li>

        <% if user_signed_in? %>
          <li><%= link_to "Profile", profile_path(current_user) %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "signout", data: {toggle: "modal"} %></li>
        <% else %>
          <!-- Button trigger modal -->

          <li><%= link_to "Sign In", "#signinModal", "data-toggle" => "modal" %></li>
          <li><%= link_to "Create Account", "#signupModal", "data-toggle" => "modal" %></li>

        <% end %>
      </ul>
    </div>
  </div>
</div>
